{erl_opts, [
    debug_info,
    warn_bif_clash,
    warn_deprecated_function,
    warn_export_all,
    warn_export_vars,
    warn_exported_vars,
    warn_format,
    warn_missing_spec,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_untyped_record,
    warn_unused_function,
    warn_unused_import,
    warn_unused_record,
    warn_unused_vars
]}.

{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "."}]}}
]}.

{dialyzer_opts, [
    {warnings, [
        no_unused,
        no_improper_lists,
        no_fun_app,
        no_match,
        no_opaque,
        no_fail_call,
        error_handling,
        no_match,
        unmatched_returns,
        behaviours,
        underspecs
    ]}
]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{xref_checks, [undefined_function_calls]}.

{deps, [
    %% Markdown Documentation.
    {edown, ".*", {git, "git://github.com/esl/edown.git", "master"}},

    %% Peculium Core Library.
    {peculium_core, ".*", {git, "git@github.com:ahf/peculium_core.git", "master"}}
]}.

{require_otp_vsn, "R16"}.

{sub_dirs, ["rel"]}.
